.About {
	padding: 5rem 4.5rem 5rem;
	overflow: hidden;
	scroll-snap-align: start;
	min-height: 90vh;
}

.Heading {
	color: var(--color-primary);
	font-size: 3rem;
}
.Heading span,
.Socials span {
	font-size: 1.5rem;
}
.TextBox {
	margin: 2rem 4rem;
	padding: 4rem 5rem;

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}

.TextBox svg {
	height: 9rem;
	width: 9rem;
	margin: 1rem 2rem;
	/* filter: grayscale(3); */
	opacity: 0.9;
}

.ContactDetails {
	margin-top: 4rem;
	border-top: 1px solid var(--background);
	padding: 2rem 0;
	font-size: 3rem;
	display: flex;
	flex-direction: column;
}

.ContactDetails h5,
.ContactDetails p {
	color: var(--color-primary);
}

.Socials div {
	margin-left: 10rem;
	margin-top: 1rem;
}

.ContactDetails p {
	font-size: 1.8rem;
	position: relative;
	margin-top: 4rem;
}

.ContactDetails svg {
	height: 3rem;
	width: 6rem;
	transition: all ease-in-out 0.4s;
}

.Mail {
	width: max-content;
	color: whitesmoke;
	box-shadow: inset 0 -5px var(--color-primary);
	transition: all ease-in-out 0.4s;
	margin-left: 10rem;
}

.Mail:hover {
	letter-spacing: 5px;
}

.GitIcon,
.LinkedIcon {
	border-bottom: 3px solid var(--color-primary);
	margin: 0 2rem;
}

.GitIcon:hover svg,
.LinkedIcon:hover svg {
	transform: translateY(-5px);
}

.GitIcon svg {
	filter: invert(1);
}

@media only screen and (max-width: 37.5em) {
	.Heading {
		font-size: 2.4rem;
	}

	.TextBox svg {
		height: 6rem;
		width: 6rem;
		margin: 1rem;
		opacity: 0.8;
	}

	.Socials div,
	.Mail {
		margin-left: 5rem;
	}
}
