.About {
	padding: 5rem 4.5rem 5rem;
	overflow: hidden;
	scroll-snap-align: start;
	height: 100vh;
}

.Heading {
	color: var(--color-primary);
	font-size: 3.6rem;
}

.TextBox {
	background-color: var(--color-primary);
	color: var(--background);
	margin: 2rem 4rem;
	padding: 4rem 5rem;
	/* margin-left: 10rem; */
	max-width: max-content;
	font-size: 2.4rem;
	font-family: var(--secondary-font);
}

.ContactDetails {
	margin-top: 4rem;
	border-top: 1px solid var(--background);
	padding: 2rem 0;
}

@media only screen and (max-width: 37.5em) {
	.Heading {
		font-size: 2.8rem;
	}
}
