.FeaturedProject {
	padding: 5rem 4.5rem 5rem;
	overflow: hidden;
	scroll-snap-align: start;
	/* scroll-padding: -5rem; */
}

.Project {
	margin-left: 3rem;
	margin-top: 3rem;
	position: relative;

	/* scroll-padding: -5rem; */
}

.ImageContainer {
	position: relative;
	/* scroll-snap-align: start; */
}

.ImageCover {
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--background);
	width: 100%;
	height: 100%;
	z-index: 200;
}

.ProjectImage {
	height: 100%;
}

.Heading {
	color: var(--color-primary);
	font-size: 3.6rem;
}

.ProjectInfo {
	background-color: var(--color-primary);
	width: 50rem;
	height: min-content;
	max-height: 30rem;
	padding: 2rem 1.5rem;
	position: absolute;
	top: 50%;
	right: 0;
	/* z-index: 10; */
}

.ProjectName {
	color: var(--background);
	font-size: 3rem;
	font-weight: 800;
}

.ProjectInfo p {
	font-size: 2.4rem;
	font-family: var(--secondary-font);
	color: var(--background);
	width: 80%;

	margin: 2rem 0;
	line-height: 3rem;
}

.ProjectInfoButton {
	background-color: var(--background);
	display: inline-block;
	padding: 1.5rem 3rem;
	font-size: 2.4rem;
	display: flex;
	align-items: center;
	transform: translateX(100%);
	transition: all 0.4s ease-in-out;
}

.ProjectInfoCover {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	background-color: var(--background);
	width: 100%;
	height: 100%;
	z-index: 20;
}

.ProjectInfoButton h5 {
	margin-right: 1rem;
	transition: all 0.4s ease-in-out;
}

.ProjectInfoButton:hover.ProjectInfoButton h5 {
	margin-right: 1.5rem;
}

.ButtonContainer {
	margin-top: 18rem;
	text-align: center;
}

.AllProjectButton {
	display: flex;
	align-items: center;
	border-bottom: 1px var(--color-primary) solid;
	padding-top: 5px;
}

.ButtonText {
	font-size: 2.4rem;
	margin-right: 1rem;
	transition: all 0.4s ease-in-out;
}

.AllProjectButton:hover.AllProjectButton .ButtonText {
	margin-right: 1.8rem;
}

@media only screen and (max-width: 75em) {
	.Project {
		margin-left: 3rem;
		margin-right: 3rem;
		margin-top: 3rem;
		width: 100%;
	}

	.ProjectImage {
		width: 100%;
		/* object-fit: cover; */
	}

	.ProjectInfo {
		transform: translateY(-25%);
		height: min-content;
		padding: 2.5rem 2rem;
	}

	.ProjectInfo h5 {
		font-size: 2.4rem;
	}

	.ProjectInfoButton {
		transform: translateX(80%);
	}
}

@media only screen and (max-width: 37.5em) {
	.Heading {
		font-size: 2.8rem;
	}

	.Project {
		margin-left: 0rem;
		margin-right: 0rem;
		margin-top: 3rem;
		max-width: 100%;
	}
	.ProjectImage {
		height: 20vh;
		object-fit: cover;
	}
	.ProjectInfo {
		position: relative;
		width: 100%;
		transform: translateY(0);
	}
	.ProjectInfo h5 {
		font-size: 1.8rem;
	}

	.ProjectInfo p {
		font-size: 1.8rem;
	}

	.ProjectInfoButton {
		padding: 1.2rem 1.5rem;
		display: flex;
		align-items: center;
		transform: translateX(60%);
		width: 45vw;
		justify-content: center;
	}

	.ProjectInfoButton h5,
	.AllProjectButton h5 {
		font-size: 1.6rem;
		margin-right: 1.4rem;
	}

	.Project svg {
		width: 2.4rem;
	}

	.AllProjectButton {
		margin-top: 3rem;
	}

	.ButtonContainer {
		margin-top: 8rem;
		text-align: center;
	}
}
