.Navbar {
	padding: 3rem 4.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}

.Heading {
	font-size: 2.4rem;
	position: relative;
}

.Block {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	background-color: var(--background);
}
