.Header {
	display: flex;
	place-items: center;
	place-content: center;
	text-align: center;
	height: 85vh;
	padding: 2rem;
	position: relative;
	font-size: 3.6rem;
}

.TextHeading {
	line-height: 5rem;
	flex: 1;
	text-align: center;
}

.Block {
	height: 6rem;
	margin-bottom: 8px;
	overflow: hidden;
	position: relative;
}

.SpanBlock {
	position: absolute;
	display: inline-block;
	width: 100%;
	left: 0;
}

.YellowText {
	color: var(--color-primary);
}

@media only screen and (max-width: 37.5em) {
	.Header {
		font-size: 1.6rem;
	}

	.TextHeading {
		line-height: 4rem;
	}

	.Block {
		margin-bottom: 4px;
		height: 4rem;
	}
}
