@font-face {
    font-family: "BDOGrotesk";
    src: url("/BDOGrotesk-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "BDOGrotesk";
    src: url("/BDOGrotesk-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}