:root {
	--color-primary: #fbff47;
	--primary-font: 'Syne', sans-serif;
	--secondary-font: 'Philosopher', sans-serif;
	--background: #1b1b1b;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
}

a {
	text-decoration: none;
	color: inherit;
	font-family: inherit;
}

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	box-sizing: inherit;
	font-family: var(--primary-font);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--background);
	color: #fff;
	scroll-snap-type: y mandatory;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* @media (prefers-color-scheme: dark) {
	body {
		background-color: var(--background);
		color: #fff;
	}
} */

@media only screen and (max-width: 75em) {
	html {
		font-size: 56.25%;
	}
}

@media only screen and (max-width: 56.25em) {
	html {
		font-size: 50%;
	}
}
