@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #fcfaf5;
    --light-background: #f3ece4;
    --color-dark: #333;
    --color-accent: #5f3ccb;
    --primary-font: "Syne", sans-serif;
    --secondary-font: "Philosopher", sans-serif;
    --background: #1c1e21;
  }

  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    /*scroll-snap-type: y mandatory;*/
  }

  a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
  }

  *,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    box-sizing: inherit;
    font-family: var(--primary-font);
    background-color: var(--background);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    /*scroll-snap-type: y mandatory;*/
  }
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
